/**
 * Custom CSS for Typography
 *
 * @package rtPanel
 *
 * @since rtPanel 2.0
 */

/*
    fonts.css from the YUI Library: developer.yahoo.com/yui/
    Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
*/

body { font-size: 13px; line-height: 150%; font-family: Georgia, "Times New Roman", Times, serif; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; letter-spacing: 1px; line-height: 136.4%; margin: 0; padding: 0; }

/* Default Heading Style */
h1 { font-size: 200%; } /* 28px */
h2 { font-size: 171.4%; } /* 24px */
h3 { font-size: 142.8%; } /* 20px */
h4 { font-size: 114.3%; font-weight: bold; } /* 16px */
h5 { font-size: 100%; font-weight: bold; } /* 14px */
h6 { font-size: 85.7%; font-weight: bold; } /* 12px */

.post-title h1,
.post-title h2 { font-size: 280%; }
select, input, textarea, button { font:99% sans-serif; }
/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp, tt, var { font-family: Consolas, monospace, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier; }
small { font-size: 80%; }
sub, sup { font-size: smaller; font-weight: 400; }
dl dt { font-weight: bold; }
address { font-style: italic; }
acronym, abbr { border-bottom: 1px dotted #BFBFBF; cursor: help; }
ins { text-decoration: underline; }
th, b, strong { font-weight: 700; }
i, cite, em, var, dfn, address { font-style: italic; }
u, ins { text-decoration: underline; }
s, strike, del { text-decoration: line-through; }
:focus { outline: 0; }/* removes gray dotted outline */
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
.post-meta abbr,
.post-meta acronym { font-style: normal; border: none; }