/*
 * Custom CSS for IE6 Browser
 */
legend{ margin-left: -7px; } /* thnx ivannikolic! */
input { vertical-align: text-bottom; }
.clear { height: 0px; overflow: hidden; } /* ie6 : height issue */
div.comment-body { height: 100%; }
.clearfix { zoom: 1; } /* IE < 8 */
#respond, .commentlist .comment .comment-body { height: 100%; }
.post-content img { width: expression(this.width > 600? "600px" :  true); }
#content-wrapper, .hentry { height: 100%; }
#rtp-nav-menu, #rtp-primary-menu { height:100%; position: relative; }
.rtp-post-comment-count { height: 25px; }