/* Footer */
#footer-wrapper { overflow: hidden; padding: 20px 0 0; position: relative; // Self
    // Separator Line
    &.rtp-section-separator:after { top: 0; visibility: visible; }
}

// Footerbar
#footerbar { margin-bottom: 1em; overflow: hidden; position: relative; // Self
    &.rtp-section-separator:after { visibility: visible; }
}

// Footerbar Widgets
.footerbar-widget {
    // Children
    &:nth-child(3n+1) { clear: both; }
    .email-subscription-container { margin: 0; }
    .social-icons { margin: 10px 0 0; }
}

/* Copyrights */
#footer { clear: both; color: $gray; margin-bottom: 1em; text-align: center; // Self
    // Footer Links
    a { border-bottom: 1px solid $border-color; // Self
        &:hover { text-decoration: none; }
    }
}
/* End - Footer */