/* Sidebar */
#sidebar { margin-top: 2em; }
.widgettitle { font-size: 1.385em; line-height: 1.2em; margin-top: 0; }

.widget { @extend .rtp-secondary-font-size; @extend .rtp-vertical-rhythm;
    // Current Menu item highlight
    .current-menu-item > a, .current_page_item > a { color: $link-hover-color; }

    // Remove listing bottom margin
    > ul, > ol { margin-bottom: 0; }
}

/* Recent Comment with Gravatar Widget */
.rtp-comments-widget {
    // Children
    ul { margin-left: 0; }

    // List
    li { list-style: none;
        &:last-child .rtp-reply { margin-bottom: 0; }
    }
    
    // Author Meta
    .author-comment { line-height: 1.385em; margin: 5px 0; }
    .author-vcard img { float: left; margin: 5px 10px 5px 0; }
    .alignright img { margin: 5px 0 5px 10px; }

    // Paragraph
    p { margin: 0; }

    // Reply Buttton
    .rtp-reply { clear: none; padding: 0; // Self
        // Link
        a { font-size: $tertiary-font-size; margin: 0; }
    }

    // Comment Date
    .comment-date { @extend .rtp-tertiary-font-size; }
}

/* Calendar Widget */
.widget_calendar {
    // Children
    table { @extend .rtp-tertiary-font-size; margin: 0 0 4px; }
    th, td { color: $gray; text-align: center; }
    #today { background-color: darken($base-background, 6%); font-weight: 700; }
}

tfoot {
    // Children
    #prev { border-right: 0; text-align: left; }
    #next { border-left: 0; text-align: right; }
}

#prev + .pad { border-left: 0; border-right: 0; }

/* Tag Cloud Widget */
.tagcloud a { line-height: 1em; }

/* Subscribe Widget */
.email-subscription-container {
    // Children
    p { margin: 0; }
    label { display: block; margin: 0 0 5px; }
}
// Stay Connected    
.stay-connected { clear: both; font-weight: normal; padding: 5px 0 0; }

// ***** Social Icons ***** //
.social-icons { margin: 0; // Self
    // List
    li { float: left; list-style: none; margin: 10px 8px 0 0; padding: 0; // Self
        &:last-child { margin-right: 0; }
    }
    
    a { @extend .rtp-image-sprite; display: block; height: 35px; margin: 0; overflow: hidden; padding: 0; text-indent: -9999px; text-transform: uppercase; width: 35px; }
    
    // Facebook
    .facebook { @include rtp-image-sprite(facebook);
        &:hover { @include rtp-image-sprite(facebook-hover); }
    }

    // Twitter
    .twitter { @include rtp-image-sprite(twitter);
        &:hover { @include rtp-image-sprite(twitter-hover); }
    }

    // RSS
    .rss { @include rtp-image-sprite(rss);
        &:hover { @include rtp-image-sprite(rss-hover); }
    }

    // LinkedIn
    .linkedin { @include rtp-image-sprite(linkedin);
        &:hover { @include rtp-image-sprite(linkedin-hover); }
    }

    // Myspace
    .myspace { @include rtp-image-sprite(myspace);
        &:hover { @include rtp-image-sprite(myspace-hover); }
    }

    // StubleUpon
    .stumbleupon { @include rtp-image-sprite(stumbleupon);
        &:hover { @include rtp-image-sprite(stumbleupon-hover); }
    }

    // Google
    .google { @include rtp-image-sprite(gplus);
        &:hover { @include rtp-image-sprite(gplus-hover); }
    }
}
/* End - Sidebar */