// *** Check for more details *** //
// *** http://compass-style.org/reference/compass/utilities/sprites/base/ *** //
// *** http://compass-style.org/reference/compass/utilities/sprites/sprite_img/ *** //

/* Compass Generate Sprite */

//$rtp-sprite-dimensions: true;
$rtp-image-spacing: 20px;
@import "rtp-image/*.png";
@include all-rtp-image-sprites;