/* Comments */
.rtp-comment-count { border-bottom: 1px dotted $border-color; color: $gray; font-style: normal; line-height: 2.857em; padding: 10px 0; // Self
    // Title
    .rtp-comment-count-container { float: left; font-size: 20px; line-height: 1em; margin: 0; }
}

// Manage Comments
.rtp-manage-comments { line-height: 1.44em; }

// Thoughts
.rtp-thoughts { font-size: 13px; float: left; line-height: 1.9em; }

/* Comments Display */
.comments-container { border-top: 1px solid $border-color; // Self
    // Empty Element
    &:empty { border-top: 0; }
}

// Commentlist
.commentlist { clear: both; margin: 0; // Self
    // Children
    .vcard { float: right; margin: 5px 0 5px 5px; }
    .fn { font-size: 15px; font-style: normal; }
    
    // Trackback Pingback
    .trackback,
    .pingback { overflow: hidden; padding: 0 0 15px; // Self
        // EM Element
        em { color: $gray; font-size: emCalc(12); }
    }
}

// Comment Text
.comment-text { clear: left; font-size: emCalc(13); padding: 10px 0 0;
    > ol, > ul {  }
}

// Comment Body
.comment-body { border-bottom: 1px solid $border-color; clear: both; margin: 0.75em 0; position: relative; }

.comment { list-style: none; // Self
    li { margin-bottom: 0; }
}

// Comment Author
.comment-author { float: left; }

// Comment Meta
.comment-meta { color: $gray; font-size: emCalc(12);
    // Children
    abbr { border: 0; }
    // Comment Edit Link
    .comment-edit-link { margin: 0 0 0 5px;
        &:hover { text-decoration: none; }
    }
}

/* Comment Reply Link */
.rtp-reply { clear: both; float: left; // Self
    // Children
    a { display: block; margin: 0 0 20px; }
}

/* Admin Comments */
.comment-author-admin, .bypostauthor, .byuser {
    > .comment-body { background-color: darken($base-background, 4%); padding: 10px 10px 0 10px; }
}

/* Comment Form */
#respond { clear: both; font-size: emCalc(13);

    // Respond Form direct children of 'comments-container'
    .comments-container > & { margin-bottom: 1.5em; }

    // Comment List form
    .commentlist + & { margin: -10px 0 1.5em; }

    // Comment body
    .comment-body + & { border-bottom: 1px solid $border-color; margin-top: -0.8em; padding: 0 0 0.8em; }

    // Comment
    .comment & {
        .form-submit { margin-bottom: 0; }
    }

    // Title
    h3 { color: $gray; }

    // Form
    form { border-top: 1px solid $border-color; }

    // Form Paragraph
    p { margin: 0.8em 0; }

    // Comment Notes
    .comment-notes, .logged-in-as { color: $gray; margin: 10px 0 0; }

    // Subscribe To Comments
    .subscribe-to-comments {
        #subscribe { margin-bottom: 10px; }
        label { margin-left: 5px; }
    }

    // Label
    label { line-height: 2.692em; margin: 0 0 0 10px; }

    // Required Field
    .required { color: $alert-color; }

    // Comment form comment
    .comment-form-comment, .form-submit { clear: both; margin-bottom: 3px; }

    // Above Comments
    .rtp-comment-above { margin-bottom: 0; }

    // Form Inputs
    input {
        &[type=text], &[type=url], &[type=email] { width: 50%; }
    }

    textarea { height: 110px; width: 98.33%; }

    // Allowed Tags
    .form-allowed-tags { background: darken($base-background, 2%); @include rtp-border(); color: $gray; font-size: emCalc(13); margin: 0 0 14px; padding: 4px; width: 96%; }

    // Compact Form
    .compact-comment-form { float: left; width: 33%; // Self
        // Compact Form Label and Input
        label { margin-left: 2px; }
        input { height: auto; width: 98%; }
    }

    // Comments Header
    + .rtp-comments-header { border-top: 1px solid $border-color; padding: 0.6em 0 0; }
}

#reply-title { font-size: 1.286em; line-height: 2em; margin: 0; // Self
    // Children
    small { font-size: emCalc(11); font-weight: bold; margin: 0 0 0 10px; text-transform: uppercase; }
}

/* trackback and pingback inside comments */
.rtp-comments-header { margin: 0; // Self
    // Trackbacks
    + #trackbacks { margin-top: 0.8em; }    
}

/*.hide-labels { overflow: hidden; }*/
/* End of Comments Section */