// ***** Header ***** //
/* Header */
#header { margin-bottom: 10px; margin-top: 10px; } 

// Logo
.rtp-site-logo { margin: 0; overflow: hidden;
    // Float is used to remove excess spacing bellow logo image
    a { float: left; }

    // Logo : Float is used to remove excess spacing bellow logo image
    img { float: left; margin: 0; }
}

// Tagline
.tagline { clear: left; color: $gray; margin: 10px 0 0; }

/* End - Header */

// ***** Navigation ***** //

/* Navigation */
.rtp-primary-nav-wrapper { clear: both; }

#rtp-nav-menu { background-color: darken($base-background, 4%); @include rtp-border($border-color); @include rtp-margin-padding-0; // Self
    
    // Menu List
    li { float: left; list-style: none; position: relative; // Self
        // Submenu Links
        &:hover > a { background-color: darken($base-background, 6%); color: $link-hover-color; text-decoration: none; }

        // Show Dropdown on Mouse Hover
        &:hover > ul { display: block }
    }

    // Navigation Links
    a { display: block; height: auto; line-height: 1.286em; padding: 10px 15px; text-decoration: none; // Self
        // Hover
        &:hover { background-color: darken($base-background, 8%); }
    }

    // Submenu Support //
    ul { background-color: darken($base-background, 4%); @include rtp-border($border-color); display: none; left: 0; @include rtp-margin-padding-0; position: absolute; top: 38px; width: 180px; z-index: 9; // Self
        // Submenu List
        li {
            min-width: 180px;
            &:first-child ul { top: -1px; }
            &:first-child > a { border-width: 0; }
        }

        // Subment link
        a { border-top: 1px solid $border-color; padding: 10px; }

        // Submenu children List
        ul { left: 100%; top: 0; }

        // IE9 Fix
        // .ie9 & { top: 37px; }
    }

    // Current Menu Style
    .current-menu-item, .current_page_ancestor, .current_page_item {
        > a { background-color: darken($base-background, 6%); color: $link-hover-color; text-decoration: none; }
    }
}

/* Mobile Devices Menu */
.rtp-nav-btn { display: none; height: auto; margin: 0; padding: 7px 10px; position: absolute; right: 0; top: -65px; // Self
    // Focus
    &:focus { box-shadow: 0 0 0; }
}

.rtp-icon-bar { background-color: $gray; @include box-shadow(0 1px 0 rgba(0, 0, 0, 0.15)); display: block; height: 2px; margin-top: 3px; width: 18px; // Self
    // First-child
    &:first-child { margin-top: 0; }
}
/* End - Navigation */