/* Default Links */
a {
    // Self, Active & Visited
    & { color: $link-color; text-decoration: none; }

    // Hover & Focus
    &:hover,
    &:focus { color: $link-hover-color; text-decoration: underline; }
}

/* Heading Links */
h1, h2 {
    a {
        // Self, Active & Visited
        & { color: $title-link-color; }

        // Hover & Focus
        &:hover,
        &:focus { color: $title-hover-color; text-decoration: none; }
    }
}

/* Generic Links */
.rtp-common-link {
    // Self, Active & Visited
    &,
    a,
    span {
        // Self, Active & Visited
        & { color: $secondary-link-color; }

        // Hover & Focus
        &:hover,
        &:focus { color: $secondary-link-hover-color; }
    }
}