// ********* rtPanel Mixins *********

// Border 1px
@mixin rtp-border($width: 1px, $style: solid, $color: $border-color) {
    border: $width $style $color;
}

// ********* rtPanel Constant Mixins ********* //

// Set margin and padding 0
@mixin rtp-margin-padding-0() {
    margin: 0;
    padding: 0;
}

// Text Indent
@mixin rtp-text-indent() {
    text-indent: -9999px;
    text-transform: uppercase; // IE hack
}

// Panel
@mixin rtp-panel() {
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: darken($panel-bg, $panel-function-factor);
    padding: $panel-padding;
    background: $panel-bg;
}


// ***** Mixins for Rem Font Sizing ***** //
$rtp-base-font-size: $em-base;
@mixin rtp-rem-fallback( $property, $values... ) {
    $max: length( $values );
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit( nth( $values, $i ) );
        $pxValues: #{ $pxValues + $value }px;

        @if $i < $max {
            $pxValues: #{ $pxValues + ' ' };
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit( nth( $values, $i ) ) / strip-unit( $rtp-base-font-size ) * 1;
        $remValues: #{ $remValues + $value }rem;

        @if $i < $max {
            $remValues: #{ $remValues + ' ' };
        }
    }

    #{$property}: $pxValues; 
    #{$property}: $remValues; 
}