// Fonts
$sidr-font-family: $body-font-family;
$sidr-font-size: emCalc(15);

// Colors
$sidr-background : #333;
$sidr-background-shadow-color : #222;
$sidr-text-color: $white;

.sidr {
    /* Default Settings */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: hidden;
    overflow-y: auto;

    &.right {
        left: auto;
        right: -260px;
    }

    &.left {
        left: -260px;
        right: auto;
    }

    /* Theme Settings */
    font-family: $sidr-font-family;
    font-size: $sidr-font-size;
    background: $sidr-background;
    color: $sidr-text-color;
    @include single-box-shadow($sidr-background-shadow-color, 0, 0, 5px, 5px, inset);

    ul {
        display: block;
        margin: 0 0 15px;
        padding: 0;
        border-top: 1px solid darken($sidr-background, 10%);
        border-bottom: 1px solid lighten($sidr-background, 10%);

        li {
            display: block;
            margin: 0;
            line-height: 48px;
            border-top: 1px solid lighten($sidr-background, 10%);
            border-bottom: 1px solid darken($sidr-background, 10%);

            &:hover,
            &.active,
            &.sidr-class-current-menu-item {
                border-top: none;
                line-height: 49px;

                > a, > span {
                    @include single-box-shadow($sidr-background-shadow-color, 0, 0, 15px, 3px, inset);
                }
            }

            a, span {
                padding: 0 15px;
                display: block;
                text-decoration: none;
                color: $sidr-text-color;
            }

            ul {
                border-bottom: none;
                margin: 0;
                li {
                    line-height: 40px;
                    font-size: $sidr-font-size - 2;

                    &:last-child {
                        border-bottom: none;
                    }

                    &:hover,
                    &.active,
                    &.sidr-class-current-menu-item {
                        border-top: none;
                        line-height: 41px;

                        > a, > span {
                            @include single-box-shadow($sidr-background-shadow-color, 0, 0, 15px, 3px, inset);
                        }
                    }

                    a, span {
                        color: rgba($sidr-text-color, .8);
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}

.sidr-inner {
    padding: 0 0 15px;
}

// Menu Button
.rtp-menu-icon {

    @include background-image(linear-gradient(bottom, #f3f3f3, $white));
    border: 1px solid $border-color;
    @include border-radius(4px);
    @include box-shadow(0 0 5px $border-color inset);
    display: none;
    height: 34px;
    position: absolute;
    right: 10px;
    top: 40px;
    width: 36px;
    z-index: 10;

    span {
        box-shadow: 0 10px 0 1px $sidr-background, 0 16px 0 1px $sidr-background, 0 22px 0 1px $sidr-background;
        display: block;
        margin: 0 auto;
        width: 16px;
    }
}