// Alignleft
.alignleft {
    float: left;
}

// Alignright
.alignright {
    float: right;
}

// Aligncenter
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }