/* The Magnificent "Clear" fix */
// For More Info Visit: http://nicolasgallagher.com/micro-clearfix-hack/ //
.clearfix { zoom: 1; //  For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
    &:before,
    &:after {
        content: ' '; // The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. //
        display: table; // The use of 'table' rather than 'block' is only necessary if using ':before' to contain the top-margins of child elements. //
    }

    // After
    &:after {
        clear: both;
    }
}

// Alignleft
.alignleft {
    float: left;
}

// Alignright
.alignright {
    float: right;
}

// Aligncenter
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }