// ***** Constant Variables ***** //
$rtp-base-10: 10px;
$black: #000000;
$white: #FFFFFF;
$gray: #666666;
$gray-light: #999999;

// ***** Dynamic Variables ***** //
// Borders
$border-color: #dddddd;

// Backgrounds
$base-background: $white;

// ***** Links ***** //
$link-color: #446CB3;
$link-hover-color: #cd5a1b;

// Secondary Links
$secondary-link-color: $gray;
$secondary-link-hover-color: #111111;

// Title Links
$title-link-color: $link-color;
$title-hover-color: $link-hover-color;