// ***** Compass Imports ***** //
// @import "compass/reset";  // *** If you want to use reset.css *** //
@import "compass/css3";
@import "compass/typography";

// ***** rtPanel base ***** //

// ***** Constant Variables ***** //
$rtp-base-10: 10px;
$black: #000000;
$white: #ffffff;
$gray: #666666;

// ***** rtPanel Dynamic Variables ***** //
// Borders
$border-color: #dddddd !default;

// Backgrounds
$base-background: #ffffff !default;

// Links
$link-color: #006999 !default;
$link-hover-color: #cd5a1b !default;

$secondary-link-color: #666666 !default;
$secondary-link-hover-color: #111111 !default;

$title-link-color: #111111 !default;
$title-hover-color: #cd5a1b !default;

// ***** Normalize.css ***** //
@import "normalize"; // *** Note: We have modified normalize.css to get best results. *** //

// ***** 960 Grid ***** //
@import "grid";

// ***** rtPanel Mixins ***** //
@import "mixins";