// rtPanel base

// Compass Imports 
// @import "compass/reset";  // If you want to import reset.css, Uncomment this.
@import "compass/css3";
@import "compass/typography";

// rtPanel Constant Variables
$rtp-base-10: 10px;
$black: #000000;
$white: #ffffff;
$gray: #666666;

// rtPanel Dynamic Variables
// Borders
$border-color: #dddddd !default;

// Backgrounds
$base-background: #ffffff !default;

// Links
$link-color: #006999 !default;
$link-hover-color: #cd5a1b !default;

$secondary-link-color: #666666 !default;
$secondary-link-hover-color: #111111 !default;

$title-link-color: #111111 !default;
$title-hover-color: #cd5a1b !default;

// Normalize.css
// Note: We have modified normalize.css to get best results.
@import "normalize";

// 960 Grid
@import "grid";

// rtPanel Mixins
@import "rtp_mixins";