/* Images */
img { @extend .rtp-border-box; margin: 5px; height: auto; max-width: 100%; // Self
    // Floated Images
    &.alignnone { margin-left: 0; margin-right: 10px; }
    &.aligncenter { margin-left: auto; margin-right: auto; }
    &.alignleft { margin-left: 0; margin-right: 15px; }
    &.alignright { margin-left: 15px; margin-right: 0; }

    // IE8 image width issue fix.
    .ie8 & { width: auto; }
}

/* End - Misc Styles */