// ********* rtPanel Mixins *********

// Border 1px
@mixin rtp-border($border-color) {
    border: 1px solid $border-color;
}

// Set margin and padding 0
@mixin rtp-margin-padding-0 {
    margin: 0;
    padding: 0;
}

// Reset Grids
@mixin rtp-reset-grid {
    @include box-sizing(border-box);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

// Reset Prefix Space
@mixin rtp-reset-prefix {
    padding-left: 0;
}

// Reset Suffix Space
@mixin rtp-reset-suffix {
    padding-right: 0;
}

// Reset Push and Pull Space
@mixin rtp-reset-push-pull {
    left: 0;
}

// Center Aligned Grid
@mixin rtp-grid-center {
    clear: both;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}