// ***** Main Wrapper Layout ***** //
@mixin rtp-layout() {
    /* Main Wrapper Background */
    #main-wrapper { background: $base-background; }
}

// ***** Post Container ***** //
@mixin rtp-post-container() {
    .hentry { border-bottom: 1px dotted $border-color; clear: both; padding-top: 1.5em; padding-bottom: 1.5em; position: relative; }
    .rtp-singular, .attachment, .rtp-full-width {
        .hentry { border-bottom: 0; padding-bottom: 0; }
    }
    
    // Read More
    .rtp-readmore {
        &,
        &:visited { @extend .rtp-secondary-font-size; }
    }
}

// ***** Sticky Post ***** //
@mixin rtp-sticky-post() {
    .sticky { background-color: darken($base-background, 4%); border: 0; margin: 0.75em 0 0; padding-left: 1em; padding-right: 1em; }
}

// ***** Post Header ***** //
@mixin rtp-post-header() {
    .post-header { margin-bottom: 1em; }
    .post-title { float: left; line-height: 1.2em; margin: 0; }
    .rtp-has-comments { width: 80%; }
    .rtp-main-title { border-bottom: 1px solid $border-color; color: $title-link-color; float: none; margin-top: 0.75em; padding-bottom: 0.2em; }
}

// ***** Post Content ***** //
@mixin rtp-post-content() {
    .post-content { clear: both; }
    .rtp-singular .post-content a { text-decoration: underline; }

    // Post Content Paragraph
    .blog, .search-results, .archive {
        .post-content {
            p { margin-bottom: 1em; }
        }
    }

    // Not Found Page
    .rtp-not-found { margin: 1.5em 0; }
}

// ***** Post Meta ***** //
@mixin rtp-post-meta() {
    /* Post Meta */
    .post-meta { clear: both; color: $gray; @extend .rtp-secondary-font-size; font-style: italic; padding: 0.4em 0 0;
        p { margin: 0; }
    }

    .post-meta-bottom { padding: 1em 0 0;
        .single & { padding: 0; }
    }

    .rtp-post-comment-count { margin: 0.7em 0 0; text-align: right; }

    // Edit Link
    .rtp-edit-link {
        a { @extend .rtp-tertiary-font-size; }
    }

    /* Curly Brackets Style */
    .rtp-curly-bracket { color: darken($base-background, 14%); font-size: 1.428em; font-weight: normal; }

    /* Post Comment */
    .rtp-post-comment {
        &,
        &:visited { font-size: 13px; font-style: normal; padding: 0 3px 0 2px; }
        
        span { color: $title-link-color; font-size: 1.286em; }
    }

    .post-tags { clear: left; }
    /* End - Post Meta */    
}

// ***** Thumbnail with shadow effect ***** //
@mixin rtp-thumbnail-shadow() {
    /* Thumbnail with shadow effect */
    .rtp-thumbnail-shadow img {
        background: $base-background;
        @include rtp-border($border-color);
        @include box-shadow(0 0 4px darken($base-background, 20%));
        //margin-top: 10px;
        padding: 4px;

        // Floated Images
        //&.alignleft { margin-left: 5px; }
        //&.alignright { margin-right: 5px; }
        //&.aligncenter { margin: 5px auto; }
    }

    .rtp-thumbnail-shadow, .rtp-no-thumbnail-shadow {
        a.aligncenter { display: inline-block; }
    }
}

// ***** Image Caption Style ***** //
@mixin rtp-wp-caption() {
    /* Image Caption Style */
    .wp-caption { background-color: darken($base-background, 4%); @extend .rtp-border-box; margin: 7px; max-width: 100%; overflow: hidden; padding: 5px 5px 0; text-align: center; // Self
        // Floated Elements
        &.aligncenter { margin: 7px auto; }
        &.alignright { margin: 7px 0 7px 15px; }
        &.alignnone,
        &.alignleft { margin: 7px 15px 7px 0; }

        a { border: 0; text-decoration: none; }
        img { border: 0; margin: 0; padding: 0; }
    }

    .wp-caption-text { color: $gray; line-height: 1.286em; margin: 0 5px 8px; }
    .rtp-image-box .wp-caption + p { margin: 20px 0 10px; }
}

// ***** WP Gallery ***** //
@mixin rtp-gallery() {
    /* Gallery */
    .gallery {  margin: 0 auto 10px; // Self
        // Children
        .gallery-icon { overflow: hidden; padding: 5px; text-align: center; }
        br + br { display: none; }
    }

    .gallery-item { display: inline-block; margin: 0; @include box-sizing(border-box); padding: 5px; vertical-align: top; }

    // Gallery Columns
    @for $i from 1 through 9 {
      .gallery-columns-#{$i} .gallery-item { width: 100% / $i; }
    }

    .gallery-caption { color: $gray; @extend .rtp-secondary-font-size; margin: 0 0 10px; padding: 0; text-align: center; }
    .gallery-icon .attachment-thumbnail { background-color: darken($base-background, 4%); @include rtp-border($border-color); margin: 0; max-width: 100%; padding: 5px; }
    .gallery-icon a:hover .attachment-thumbnail { border-color: darken($border-color, 30%); }
    /* End - Gallery */
}

// ****** Attachment Style ****** //
@mixin rtp-attachment-page() {
    /* Attachment Style */
    .attachment .attachment-full { margin: 0; }
    .post-content .attachment img { margin: 0 auto; }

    // Attachment Page Images
    .rtp-sibling-attachments { padding: 0; margin: 0 0 1em; // Self
        // List
        li { line-height: 1em; list-style: none; margin-top: 10px; margin-bottom: 10px; text-align: center; }
        // Images
        img {
            background-color: darken($base-background, 4%); @include rtp-border($border-color); margin: 0; padding: 5px;
            &:hover { border-color: darken($border-color, 30%); }
        }
    }
}

// ****** Paged Navigation ****** //
@mixin rtp-paged-navigation() {
    /* Paged Navigation */
    .rtp-navigation, .rtp-comments-pagination { clear: both; @extend .rtp-secondary-font-size; padding-bottom: 1.5em; // Self
        // Links
        a { text-decoration: none;
            // Hover
            &:hover { text-decoration: underline; }
        }
    }

    .rtp-navigation {
        .alignleft { text-align: left; }
        .alignright { text-align: right; }
    }

    // Single Page Navigation
    .single {
        .rtp-navigation,
        .rtp-comments-pagination {
            //padding-bottom: 0;
            padding-top: 1.5em;
        }
    }

    // Attachment Page
    .single-attachment, .rtp-image-attachment {
        .rtp-navigation { margin: 10px 0 0; padding-bottom: 0; }
    }
}