/* Responsive Structure */
$cols: $ninesixty-columns;

@media screen and (min-width: 760px) and (max-width: 980px) {
    /* Grid Containers */
    @include rtp-grid-generator($cols);
}

/* Min Screen Width: 760 */
@media screen and (min-width: 760px) {
    /* ensure #nav is visible on desktop version */
    #rtp-nav-menu { display: block !important; }
}

/* Max Screen Width: 760 */
@media screen and (max-width: 760px) {
    .rtp-container-#{$cols} { max-width: 744px; width: 96%; }
    // reset grids
    #{enumerate(".rtp-grid", 1, $cols, $ninesixty-class-separator)} {
        @include rtp-reset-grid;
    }

    // Reset Prefix and Suffix Space
    #{enumerate(".rtp-prefix", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-prefix;
    }

    #{enumerate(".rtp-suffix", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-suffix;
    }

    // Reset Push and Pull Space
    #{enumerate(".rtp-push", 1, $cols - 1, $ninesixty-class-separator)},
    #{enumerate(".rtp-pull", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-push-pull;
    }

/* Header and navigation */
#header { width: 70%; }
#rtp-primary-menu { background: none; border: 0; position: relative; }
.rtp-nav-btn { display: block; }

#rtp-nav-menu {
    background-color: darken($base-background, 4%); @include rtp-border($border-color); display: none; @include box-sizing(border-box); width: 100%;
    
    li {
        border-top: 1px solid $border-color; clear: both; text-align: center; width: 100%;
        &:first-child { border-top: 0; }
        &:hover > ul { display: block; }
    }
}

/* Misc. fixing */
.gallery-icon .attachment-thumbnail { padding: 2px; }
.email-subscription-container label { width: 100%; }
.rtp-has-comments { clear: both; width: auto; }
iframe { height: auto; }
.rtp-post-comment-count { clear: both; float: left; margin: 0 0 15px; }
.rtp-section-separator:after { left: 0; max-width: 100%; }
#respond .compact-comment-form { width: 70%; }

}

/* End - Responsive Structure */