/* Responsive Structure */
$cols: $ninesixty-columns;

@media screen and (min-width: 760px) and (max-width: 980px) {
    /* Grid Containers */
    @include rtp-grid-generator($cols);
}

/* Min Screen Width: 760px */
@media screen and (min-width: 760px) {
    /* ensure #nav is visible on desktop version */
    #rtp-nav-menu { display: block !important; }
}

/* Max Screen Width: 760px */
@media screen and (max-width: 760px) {
    .rtp-container-#{$cols} { max-width: 744px; width: 96%; }
    // reset grids
    #{enumerate(".rtp-grid", 1, $cols, $ninesixty-class-separator)} {
        @include rtp-reset-grid;
    }

    // Reset Prefix and Suffix Space
    #{enumerate(".rtp-prefix", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-prefix;
    }

    #{enumerate(".rtp-suffix", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-suffix;
    }

    // Reset Push and Pull Space
    #{enumerate(".rtp-push", 1, $cols - 1, $ninesixty-class-separator)},
    #{enumerate(".rtp-pull", 1, $cols - 1, $ninesixty-class-separator)} {
        @include rtp-reset-push-pull;
    }

    /* Header and navigation */
    #rtp-primary-menu { background: none; border: 0; position: relative; }
    #rtp-nav-menu { background-color: darken($base-background, 4%); @include rtp-border($border-color); display: none; @include box-sizing(border-box); width: 100%; // Self
        // List
        li { border-top: 1px solid $border-color; clear: both; text-align: left; width: 100%; // Self
            &:first-child { border-top: 0; }
            &:hover > ul { display: block; }

            // Submenu
            ul { display: block; }
        }

        ul.sub-menu { background: darken($base-background, 7%); border: 0; left: 0; position: relative; top: 0; width: 100%; // Self
            li { border: 0; padding-left: 20px; }
            a { border: 0; }
        }
    }

    // Mobile Menu Button
    .rtp-nav-btn { display: block; }

    /* Misc. fixing */
    iframe { height: auto; }

    .gallery-icon .attachment-thumbnail { padding: 2px; }
    .email-subscription-container label { width: 100%; }
    .rtp-has-comments { clear: both; width: auto; }
    .rtp-post-comment-count { clear: both; float: left; margin: 0 0 15px; }
    .rtp-section-separator:after { left: 0; max-width: 100%; }
    #respond .compact-comment-form { width: 70%; }
    
    // Two column widgets
    .widget { @include box-sizing(border-box); float: left; width: 50%;
        &:nth-child(odd) { clear: left; padding-right: 1%; }
        &:nth-child(even) { padding-left: 1%; }
    }
}

/* Max Screen Width: 320px */
@media screen and (max-width: 320px) {
    #header { width: 70%; }
    
    // One column widgets
    .widget { float: none; width: 100%;
        &:nth-child(odd) { clear: none; padding-right: 0; }
        &:nth-child(even) { padding-left: 0; }
    }
}


@mixin rtp-wider-screen() {
    @media screen and (min-width: 1200px) {
        /* Grid Containers */
        @include rtp-grid-generator($cols);
    }
}
/* End - Responsive Structure */