/* Typography */
// Thanks to https://gist.github.com/2398651
$font-body: $base-font-family;

@mixin establish-baseline($font-size: $base-font-size, $font-family: $font-body) {
    $taille: ($font-size / $browser-default-font-size * 100); // $taille is a variable to set main font size.
    $line-height: rhythm(1, $font-size);
    body, body#tinymce {
        color: $base-font-color;
        font: #{$taille}%/#{$line-height} $font-family;
    }
}

// Body Font
@include establish-baseline;
// Set base font
.tagline, #reply-title small, #cse .gsc-control-cse, #cse .gsc-control-cse .gsc-table-result { font-family: $base-font-family; }

// rtPanel Utility Classes
.rtp-margin-0 { margin: 0; }

.rtp-margin-bottom-0 { margin-bottom: 0; }
.rtp-margin-bottom-10 { margin-bottom: $rtp-base-10; }
.rtp-margin-bottom-20 { margin-bottom: $rtp-base-10 * 2; }
.rtp-margin-bottom-30 { margin-bottom: $rtp-base-10 * 3; }

.rtp-margin-top-0 { margin-top: 0; }
.rtp-margin-top-10 { margin-top: $rtp-base-10; }
.rtp-margin-top-20 { margin-top: $rtp-base-10 * 2; }
.rtp-margin-top-30 { margin-top: $rtp-base-10 * 3; }

@each $typo-array in $title-font-size {
    $balise: nth($typo-array, 1);
    $taille: nth($typo-array, 2);
    #{$balise}, .#{$balise} {
        @include adjust-font-size-to($taille);
        @extend .rtp-margin-bottom-10;
        @extend .rtp-margin-top-0;
    }
}

/* Corrects font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp {
    font-family: $font-monospace;
}

/* Elements having $secondary-font-size */
code, pre, kbd, samp,
.rtp-readmore, .rtp-readmore:visited,
.post-meta, .gallery-caption, .breadcrumb,
.rtp-navigation, .rtp-comments-pagination,
#respond, #respond .form-allowed-tags,
.widget, .comment-text { font-size: $secondary-font-size; line-height: rhythm(1, $secondary-font-size); }

/* Elements having $tertiary-font-size */
.rtp-edit-link a,
.comment-meta,
.trackback em,
.pingback em,
.rtp-comments-widget .comment-date,
.widget_calendar table,
.bbp_widget_login .logout-link { font-size: $tertiary-font-size; line-height: rhythm(1, $tertiary-font-size); }

/* Add Bottom Margin */
// Tags
p,
pre,
address,
blockquote,

// Lists
ul,
ol,

// Widgets
.widget,

// Table
table,
dl,

// Comment Lists
.comment-text > ol,
.comment-text > ul {
    margin-top: 0;
    margin-bottom: 1.5em;
}

// Lists
ul, ol {
    ul, ol { margin: 0 0 0 1.5em; }
}

/* Generic Lists: */
ul, ol { margin-left: 30px; padding-left: 0; }

// Remove listing bottom margin
.widget {
    > ul, > ol { margin-bottom: 0; }
}

/* End - Typography */