/* Typography */
// Thanks to https://gist.github.com/2398651

// Title Fonts
$title-font-size: (h1 $h1-size) (h2 $h2-size) (h3 $h3-size) (h4 $h4-size) (h5 $h5-size) (h6 $h6-size);

// Base font family
$font-body: $base-font-family;

@mixin establish-baseline($font-size: $base-font-size, $font-family: $font-body) {
    $taille: ($font-size / $browser-default-font-size * 100); // $taille is a variable to set main font size.
    $line-height: rhythm(1, $font-size);
    body, body#tinymce {
        color: $base-font-color;
        font: #{$taille}%/#{$line-height} $font-family;
    }
}

// Body Styles
@include establish-baseline;

// Heading Tags
@each $typo-array in $title-font-size {
    $balise: nth($typo-array, 1);
    $taille: nth($typo-array, 2);
    #{$balise}, .#{$balise} {
        @include adjust-font-size-to($taille);
        @extend .rtp-margin-bottom-10;
        @extend .rtp-margin-top-0;
    }
}

/* End - Typography */