// ***** Constant Variables ***** //
$rtp-base-10: 10px;
$black: #000000;
$white: #ffffff;
$gray: #666666;

// ***** Dynamic Variables ***** //
// Borders
$border-color: #dddddd !default;

// Backgrounds
$base-background: $white !default;

// ***** Links ***** //
$link-color: #006999 !default;
$link-hover-color: #cd5a1b !default;

// Secondary Links
$secondary-link-color: $gray !default;
$secondary-link-hover-color: #111111 !default;

// Title Links
$title-link-color: #333333 !default;
$title-hover-color: #cd5a1b !default;

// Text Color
$base-font-color: #333333 !default;

// ***** Typography Defaults ***** //
// Note: Defalult font sizes should be in Pixel. ( FYI: Font size will convert into EM's automatically. )
$base-font-size: 16px !default;
$secondary-font-size: 14px !default;
$tertiary-font-size: 12px !default;
$base-line-height: 24px !default;
$browser-default-font-size: 16px !default;

$h1-size: 32px !default;
$h2-size: 28px !default;
$h3-size: 24px !default;
$h4-size: 20px !default;
$h5-size: 16px !default;
$h6-size: 14px !default;

$base-font-family: Helvetica, Arial, sans-serif !default;
$font-monospace: Consolas, monaco, monospace !default;

// ***** Misc Defaults ***** //
// Pre
$pre-background: #F5F5F5 !default;

// Code
$code-background: #F7F7F9 !default;
$code-border: #E1E1E8 !default;
$code-text-color: #DD1144 !default;

// Notice
$notice-background-color: #F9F9F9 !default;
$notice-border-color: #EEEEEE !default;
$notice-text-color: #666666 !default;

// Info
$info-background-color: #D9EDF7 !default;
$info-border-color: #BCE8F1 !default;
$info-text-color: #3A87AD !default;

// Success
$success-background-color: #DFF0D8 !default;
$success-border-color: #D6E9C6 !default;
$success-text-color: #468847 !default;

// Warning
$warning-background-color: #FCF8E3 !default;
$warning-border-color: #FBEED5 !default;
$warning-text-color: #C09853 !default;

// Error
$error-background-color: #F2DEDE !default;
$error-border-color: #EED3D7 !default;
$error-text-color: #B94A48 !default;

// ***** Input Variables ***** //
$input-border: #dddddd !default;
$input-background: #ffffff !default;

$button-gradient-color-top: #f4f4f4 !default;
$button-gradient-color-bottom: #ececec !default;

$button-hover-gradient-color-top: #ececec !default;
$button-hover-gradient-color-bottom: #e3e3e3 !default;

$button-active-gradient-color-top: #e3e3e3 !default;
$button-active-gradient-color-bottom: #dddddd !default;