/*-----------------     OPACITY     -----------------*/

.ie-opacity {
/*
 * ref. http://robertnyman.com/2008/09/16/you-want-css-opacity-to-go-with-that-well-suit-yourself/
   not sure about below code
   please ref : http://css-tricks.com/rgba-browser-support/
 */
    /* For web browsers who care */
    opacity: 0.8; /* fx, safari, opera */
    /* For IE 5-7 */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* this works in IE6, IE7, and IE8 */
    /* For IE 8 (and 9, 10, 11?). Don't miss the added quotes */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* this works in IE8 only */
    -khtml-opacity: 0.8; /* khtml, old safari */
    -moz-opacity: 0.8; /* mozilla, netscape */
}

/*-----------------     BOX-SHADOW     -----------------*/

.ie-box-shadow {
/*
 * ref. http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/
 * Working on all browser's, tested
 */
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*-----------------     GRADIEANT     -----------------*/

.ie-gradient {
/*
 * ref. http://robertnyman.com/2010/02/15/css-gradients-for-all-web-browsers-without-using-images/
 * More info or properties about gradient: http://robertnyman.com/css3/gradients/gradients.html
 * Working on all browser's, tested
 */
    /* For WebKit (Safari, Google Chrome etc) */
    background: -webkit-gradient(linear, left top, left bottom, from(#3399dd), to(#0472bc));
    /*
        for 3 color gradient-
        for 3 color measurement ref. http://www.colorzilla.com/gradient-editor/
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3399dd), color-stop(50%, #0472bc), color-stop(100%, #0472bc));
    */

    /* For Mozilla/Gecko (Firefox etc) */
    background: -moz-linear-gradient(top, #3399dd, #0472bc);
    /*
        for 3 color gradient-
        background: -moz-linear-gradient(top center, #3399dd 0%, #0472bc 50%, #0472bc 100%);
    */

    /* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3399dd, endColorstr=#0472bc);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3399dd, endColorstr=#0472bc)";
}

/*-----------------     TRANSPERANT BACKGROUND     -----------------*/

.transperant {
/*
 * ref. http://robertnyman.com/2010/01/11/css-background-transparency-without-affecting-child-elements-through-rgba-and-filters/
 *
 * CSS background transparency without affecting child elements, through RGBa and filters
 * ref. gradient filter info: http://msdn.microsoft.com/en-us/library/ms532997%28v=vs.85%29.aspx
 */
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    /*
    use for ie browser only
    zoom: 1;
    */
}


.ie-transperant {
    /*    other browsers */
    /*    background: rgba(98, 135, 167, .4);*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#886287a7', endColorstr='#886287a7');
}
/*
 * Ref: http://www.smashingmagazine.com/2010/04/28/css3-solutions-for-internet-explorer/
*/

.ie-textshadow {
    /*    other browsers    */
    text-shadow: 1px 1px 2px #333333;
    /*    Support for ie7   */
    filter: dropshadow(color=#333333, offx=1, offy=1);
}