
.rtp-icon-spin5:before { content: '\e805'; } /* '' */
.rtp-icon-search:before { content: '\e806'; } /* '' */
.rtp-icon-comment:before { content: '\e800'; } /* '' */
.rtp-icon-facebook:before { content: '\e801'; } /* '' */
.rtp-icon-linkedin:before { content: '\e803'; } /* '' */
.rtp-icon-pinterest-circled:before { content: '\e804'; } /* '' */
.rtp-icon-twitter:before { content: '\e802'; } /* '' */