
.rtp-icon-facebook:before { content: '\e800'; } /* '' */
.rtp-icon-spin5:before { content: '\e801'; } /* '' */
.rtp-icon-search:before { content: '\e802'; } /* '' */
.rtp-icon-comment:before { content: '\e803'; } /* '' */
.rtp-icon-linkedin:before { content: '\e804'; } /* '' */
.rtp-icon-twitter:before { content: '\e805'; } /* '' */
.rtp-icon-pinterest-circled:before { content: '\e806'; } /* '' */
.rtp-icon-rss:before { content: '\e807'; } /* '' */
.rtp-icon-thumbs-up:before { content: '\e808'; } /* '' */
.rtp-icon-facebook-rect:before { content: '\e809'; } /* '' */
.rtp-icon-comment-empty:before { content: '\e80a'; } /* '' */
.rtp-icon-calendar:before { content: '\e80b'; } /* '' */
.rtp-icon-calendar-1:before { content: '\e80c'; } /* '' */
.rtp-icon-doc-text:before { content: '\e80d'; } /* '' */
.rtp-icon-menu:before { content: '\e80e'; } /* '' */
.rtp-icon-bookmark:before { content: '\e80f'; } /* '' */
.rtp-icon-bookmark-empty:before { content: '\e810'; } /* '' */
.rtp-icon-trash:before { content: '\e811'; } /* '' */
.rtp-icon-gplus:before { content: '\e812'; } /* '' */
.rtp-icon-cancel-circled2:before { content: '\e813'; } /* '' */
.rtp-icon-youtube:before { content: '\e814'; } /* '' */