// ********* rtPanel Mixins *********

@mixin rtp-link ( $link-color: $link-color, $hover-color: $link-hover-color ) {
    & { color: $link-color; }
    &:hover, &:focus { color: $link-hover-color; }
}

// Border 1px
@mixin rtp-border($width: 1px, $style: solid, $color: $border-color) {
    border: $width $style $color;
}

// ********* rtPanel Constant Mixins ********* //

// Set margin and padding 0
@mixin rtp-margin-padding-0() {
    margin: 0;
    padding: 0;
}

// Text Indent
@mixin rtp-text-indent() {
    text-indent: -9999px;
    text-transform: uppercase; // IE hack
}

// Panel
@mixin rtp-panel() {
    border-style: $panel-border-style;
    border-width: $panel-border-size;
    border-color: darken($panel-bg, $panel-function-factor);
    padding: $panel-padding;
    background: $panel-bg;
}




// Messages
@mixin rtp-message( $background-color: #F9F9F9, $border-color: #EEEEEE, $color: #666666 ) {
    background-color: $background-color; border-color: $border-color; color: $color;
}

// Notice
@mixin rtp-notice() {
   @include rtp-message();
}

// Info
@mixin rtp-info() {
    @include rtp-message($background-color: #E0F2FB, $border-color: #D9EDF7, $color: #006999);
}

// Success
@mixin rtp-success() {
    @include rtp-message($background-color: #DFF0D8, $border-color: #D6E9C6, $color: #468847);
}

// Warning
@mixin rtp-warning() {
    @include rtp-message($background-color: #FCF8E3, $border-color: #FBEED5, $color: #C09853);
}

// Error
@mixin rtp-error() {
    @include rtp-message($background-color: #F2DEDE, $border-color: #EED3D7, $color: #B94A48);
}
