// Fonts
$sidr-font-family: $body-font-family;
$sidr-font-size: rem-calc(15);

// Colors
$sidr-background: $title-link-color;
$sidr-background-shadow-color: $mobile-background-shadow;
$sidr-text-color: $white;

.sidr {
    /* Default Settings */
    display: none; position: absolute; position: fixed; top: 0; height: 100%; z-index: 999999; width: rem-calc(260); overflow-x: hidden; overflow-y: auto;

    &.right {
        left: auto;
        right: -260px;
    }

    &.left {
        left: -260px;
        right: auto;
    }

    /* Theme Settings */
    background: $sidr-background; color: $sidr-text-color; font-family: $sidr-font-family; font-size: $sidr-font-size;

    @include single-box-shadow(0, 0, 5px, 5px, $sidr-background-shadow-color, inset);

    ul {
        display: block;
        margin: rem-calc(0 0 15);
        padding: 0;
        border-top: 1px solid darken($sidr-background, 10%);
        border-bottom: 1px solid lighten($sidr-background, 10%);

        li {
            display: block;
            margin: 0;
            line-height: 48px;
            border-top: 1px solid lighten($sidr-background, 10%);
            border-bottom: 1px solid darken($sidr-background, 10%);

            &:hover, &.active,
				&.sidr-class-current-menu-item {
				border-top: none; line-height: 49px;
				& > a, & > span {
					@include single-box-shadow(0, 0, 15px, 3px, $sidr-background-shadow-color, inset);
				}
            }

            a, span { padding: 0 15px; display: block; text-decoration: none; color: $sidr-text-color; }

            ul {
                border-bottom: none; margin: 0;

                li {
                    line-height: 40px; font-size: $sidr-font-size - 2;

                    &:last-child { border-bottom: none; }

                    &:hover, &.active, &.sidr-class-current-menu-item {
                        border-top: none; line-height: 41px;

                        & > a, & > span {
                            @include single-box-shadow(0, 0, 15px, 3px, $sidr-background-shadow-color, inset);
                        }
                    }

                    a, span { color: rgba($sidr-text-color, 0.8); padding-left: rem-calc(30); }
                }
            }
        }
    }
}

.sidr-inner { padding: rem-calc(0 0 15); }

// Menu Button
a.rtp-menu-icon { color: $white; font-size: rem-calc(21); display: none; float: left; margin-top: rem-calc(8); }

/* End Sidr Menu */