/* Print Style Sheet */
@media print {
    * { background: transparent; color: $body-font-color; text-shadow: none; }
    a, a:visited { color: $body-font-color; text-decoration: underline; }
    pre, blockquote { border: 1px solid $gray-light; page-break-inside: avoid; }
    img { height: auto; max-width: 100%; page-break-inside: avoid; }
    h2, h3 { orphans: 3; page-break-after: avoid; widows: 3; }
    p { orphans: 3; widows: 3; }

    /* Remove unwanted elements */
    #header-wrapper, #sidebar, .rtp-navigation, .comments-container, #footer-wrapper, .noprint { display: none }

    /* Ensure the content spans the full width */
    #content { float: none; margin: 0; width: 100%; }
}