// More Information about Media Queries http://foundation.zurb.com/docs/media-queries.html

// Medium screens
//  max-width 1024px
@media only screen and (max-width: 64em) {
    .rtp-nav-container { display: none; }
    a.rtp-menu-icon { display: block; }
    
    // Fixed Menu issue for mobile and tabs
    body { margin-top: -46px; }
    .rtp-nav-wrapper { margin-top: 46px; }
}

// Large screens
// min-width 1025px, large screens
@media only screen and (min-width: 64.063em) {
    body { left: auto !important; position: relative !important; right: auto !important; width: auto !important; }
    .sidr { display: none !important; right: 0 !important; }
}