// More Information about Media Queries http://foundation.zurb.com/docs/media-queries.html

// Small screens
// max-width 640px, mobile-only styles */
@media #{$small-only} {

    // Headings
    h1 { font-size: $h1-font-size - rem-calc(8); }
    h2 { font-size: $h2-font-size - rem-calc(6); }
    h3 { font-size: $h3-font-size - rem-calc(4); }
    h4 { font-size: $h4-font-size - rem-calc(2); }
    h5 { font-size: $h5-font-size - rem-calc(2); }
    h6 { font-size: $h6-font-size; }

    // Comment Count
    .rtp-post-comment-count { clear: both; display: block; margin-left: rem-calc(-2); }
}

// Medium screens
//  max-width 1024px
@media only screen and (max-width: #{upper-bound($medium-range)}) {
    .rtp-mobile-nav {
        .rtp-nav-container { display: none; }
    }

    a.rtp-menu-icon { display: block; }

    // Fixed Menu issue for mobile and tabs
    html #wpadminbar { position: fixed; }

    // Pagenavi
    .rtp-pagenavi { margin-bottom: $rtp-base-spacing; }

    // Sidebar Spacing
    .rtp-sidebar-inner-wrapper { border-top: 1px dotted $border-color; padding-left: 0; padding-top: $rtp-base-spacing; }
}

// Large screens
// min-width 1025px, large screens
@media only screen and (min-width: #{lower-bound($large-range)}) {
    body { left: auto !important; position: relative !important; right: auto !important; width: auto !important; }
    .sidr { display: none !important; right: 0 !important; }
}