/* Sidebar */
.rtp-sidebar-inner-wrapper { padding-left: rem-calc(40); 
     input[type="submit"] { font-size: rem-calc(11); padding: rem-calc(10 20 11);}
     .rtw-subscribe-widget-container input[type="submit"]{ border-radius: rem-calc(0 5 5 0) !important; }
    }

.widget { margin-bottom: rem-calc(30); word-wrap: break-word;
    // Current Menu item highlight
    .current-menu-item > a, .current_page_item > a { color: $link-hover-color; }

    // Remove listing bottom margin
    > ul, > ol { margin-left: 1.25em; }
}

/* Calendar Widget */
.widget_calendar {
    // Children
    table { font-size: rem-calc(14); margin: rem-calc(0 0 4); width: 100%; }
    th, td { border: 1px solid $border-color; color: $gray; text-align: center; }
    caption { background: $border-color; font-weight: bold; line-height: 2.5em; }
}

#today { background-color: darken($base-background, 6%); font-weight: 700; }

tfoot {
    // Children
    #prev { border-right: 0; text-align: left; }
    #next { border-left: 0; text-align: right; }
}

#prev + .pad { border-left: 0; border-right: 0; }

/* Tag Cloud Widget */
.tagcloud a { line-height: 1; }
/* End - Sidebar */