html, body {
    overflow-x: hidden;
}

// Alignleft
.alignleft {
    float: left;
}

// Alignright
.alignright {
    float: right;
}

// Aligncenter
.aligncenter { display: block; margin-left: auto; margin-right: auto; text-align: center; }

// Clear Both
.clear-both { clear: both; }

// Clear None
.clear-none { clear: none; }

// Clear Left
.clear-left { clear: left; }

// Clear Right
.clear-right { clear: right; }


// Messages
.rtp-error, .rtp-info, .rtp-notice, .rtp-success, .rtp-warning {
    border: 1px solid; @include border-radius(3px); display: block; margin-bottom: rem-calc(20); padding: rem-calc(50 10); line-height: 1.75;
    p:last-child { margin: 0; }
}

.rtp-notice { @include rtp-notice(); }
.rtp-info { @include rtp-info(); }
.rtp-success { @include rtp-success(); }
.rtp-warning { @include rtp-warning(); }
.rtp-error { @include rtp-error(); }

// inline-block
.rtp-inline-block { display: inline-block; }

/* Text align */
.rtp-text-left { text-align: left; }
.rtp-text-right { text-align: right; }
.rtp-text-center { text-align: center; }

/* Borders */
.rtp-border-0 { border: 0 !important; }