// ***** Constant Variables ***** //
$rtp-base-10: 10px;
$black: #000000;
$white: #FFFFFF;
$gray: #666666;
$gray-light: #999999;

// ***** Dynamic Variables ***** //
// Borders
$border-color: #DDDDDD;

// Backgrounds
$base-background: $white;

// ***** Links ***** //
$link-color: #446CB3;
$link-hover-color: #eb5b4c;

// Secondary Links
$secondary-link-color: $gray;
$secondary-link-hover-color: #111111;

// Title Links
$title-link-color: #333333;
$title-hover-color: $link-hover-color;

// Typography

// Optimal Typography for 16px Font Reference here: http://pearsonified.com/typography/
$rtp-base-line-height: 1.625; // rem-calc(26)
$rtp-base-spacing: rem-calc(26); // This will same as line height

// ***** Control Support Plugins Styles ***** //
$load-bbpress-styles : true;
$load-breadcrumb-styles : true;
$load-google-custom-search-styles : true;
$load-pagenavi-styles : true;
$load-woocommerce-styles : true;
$load-gravity-form-styles : true;
$load-ninja-forms-styles : true;