// ***** Constant Variables ***** //
$rtp-base-10: 10px;
$black: #000000;
$white: #FFFFFF;
$gray: #666666;
$gray-light: #999999;

// ***** Dynamic Variables ***** //
// Borders
$border-color: #DDDDDD;

// Backgrounds
$base-background: $white;

// ***** Links ***** //
$link-color: #446CB3;
$link-hover-color: #eb5b4c;

// Secondary Links
$secondary-link-color: $gray;
$secondary-link-hover-color: #111111;

// Title Links
$title-link-color: #333333;
$title-hover-color: $link-hover-color;

// Typography

// Optimal Typography for 16px Font Reference here: http://pearsonified.com/typography/
$rtp-base-line-height: rem-calc(28); // rem-calc(28)
$rtp-base-spacing: rem-calc(28); // This will same as line height

// Icon Font Settings
$rtp-icon-font: true;
$rtp-icon-font-family: 'rtpanel-fontello';

// ***** Control Support Plugins Styles ***** //
$load-bbpress-styles : true;
$load-breadcrumb-styles : true;
$load-buddypress-styles : true;
$load-google-custom-search-styles : true;
$load-pagenavi-styles : true;
$load-woocommerce-styles : true;
$load-jetpack-styles : true;
$load-gravity-form-styles : true;
$load-ninja-forms-styles : true;
$load-rtmedia-styles : true;
$load-yarpp-styles: true;

// Messages Colors
$color-notice: #BBBBBB;
$color-info: #2EA2CC;
$color-warning: #FFBA00;
$color-success: #7AD03A;
$color-error: #DD3D36;
