/**
* rtPanel Admin CSS
*
* @package rtPanel
*
*/

// ***** Compass Imports ***** //
@import "compass/css3";
@import "compass/typography";

// rtPanel Dynamic Variables
$text-color: #333333;
$gray: #cccccc;
$light-gray: #dddddd;
$red: red;
$light-red: #FFEBE8;
$green: green;
$orange: orange;

// ***** Links ***** //
$link-color: #006999;
$link-hover-color: #cd5a1b;

/* Utility Classes */
// Show
.show { display: block; }

// Hide
.hide, .hidden { display: none; }

// Clear
.clear { clear: both; content: '\0020'; display: block; height: 0; visibility: hidden; overflow: hidden; width: 0; }

/* The Magnificent "Clear" fix */
// For More Info Visit: http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix { zoom: 1; //  For IE 6/7 only. Include this rule to trigger hasLayout and contain floats.
    &:before,
    &:after {
        content: ' '; // The space content is one way to avoid an Opera bug when the contenteditable attribute is included anywhere else in the document. //
        display: table; // The use of 'table' rather than 'block' is only necessary if using ':before' to contain the top-margins of child elements. //
    }
    &:after {
        clear: both;
    }
}

/* Theme Option Container */
.rtpanel-admin { overflow: hidden; width: 76%; // Self
    // Heading
     h2 { border-bottom: 1px solid $gray; padding-bottom: 0; }

     // Update Theme Notice
    .updated {
        p { background-color: #FFFFE0; border: 1px solid #E6DB55; @include border-radius(3px); margin: 0 auto; padding: 7px; width: 95%; }
    }
}

// rtPanel Icon
#icon-rtpanel { background: url('../../img/rtp-icon.jpg') no-repeat; }

// Navigation Tab
.nav-tab { margin: 0 5px -1px 0;
   h2 & { font-size: 20px; padding: 4px 6px; }
}

// Options Container
.options-main-container { margin-bottom: 15px; overflow: hidden; padding: 0; }
.options-container { margin: 5px 0px; overflow: hidden; padding: 0; }

// Prevent to changes from buddyPress Media
#wpbody {
    #wpbody-content {
        .metabox-holder { margin-bottom: 10px; padding: 10px 0 0; width: 100%; }
        .metabox-fixed { clear: both; margin: 0 10px 0 0; width: 22%; }
    }
}

/* Theme Options Inside Style */
.inside { overflow: hidden;
    .image-uploader { float: left; overflow: hidden; width: 395px; }
    .image-preview { margin: 0 auto; overflow: hidden; text-align: center; }

    .postbox & {
        #poststuff & {
            p { margin: 0 0 5px;
                &.login-head { margin-top: 10px; }
            }

            // Table Heading
            th {
                p { font-size: 11px; margin-bottom: 8px; }
            }
        }

        // Title
        h3 {
            &, &:hover{ background: transparent; cursor: default; display: none; }
        }
    }
}

// Logo Metabox
#logo_metabox {
    img { display: block; margin: 0 auto; max-width: 120px;
        .has-right-sidebar .inside & { max-width: 230px; width: 100%; }
    }
}

// Postbox
.postbox { min-width: 175px; }

// rtPanel Admin
.rtpanel-admin {
    div {
        &.updated,
        &.error { background: transparent; border-bottom: 0; border-left: 1px solid $gray; @include border-radius(0); border-right: 1px solid $gray; border-top: 0; display: block; margin: 0; padding: 10px 0; text-align: center; }

        &.error {
            p { background: $light-red; border: 1px solid #C00; @include border-radius(3px); margin: 0 auto; padding: 7px; width: 95%; }
        }
    }
}

// Admin Heading
.admin-main-heading {
    h2 { border-bottom: 1px solid #EAEAEA; font-size: 153.9%; padding: 14px 0 3px; }
}

.admin-sub-module { clear: both; overflow: hidden; }

.admin-or { color: #888; display: block; float: left; font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif; font-size: 153.9%; font-style: italic; padding: 30px 25px 30px 0; }

/* Logo and Favicon style */
.logo-upload, .logo-url, .fav-upload, .fav-url { display: block; float: left; height: 100px; padding: 0 25px 0 0; }
.logo-url, .fav-url { width: 200px; }
.logo-preview, .fav-preview { display: block; float: left; }
.fav-preview { padding: 33px 0 0; }
#logo, #logo_url, #fav, #fav_url { clear: both; }

// Feedburner
.feedburner { padding: 22px 0; }

// Custom search main
.custom-search-main { padding: 22px 0 0; }

// Custom search scripts
.custom-search-scripts { padding: 10px 0 0;
    textarea{ margin-bottom: 10px; margin-left: 6px; vertical-align: middle; }
}

// Post meta common
.post-meta-common { margin-left:30px; }

// Plugin support
#plugin_support {
    .active { color: $green; }
    .inactive { color: $orange; }
    .not-installed { color: $red; }

    th { font-weight: 700; }

    .form-table {
        th, td { border-bottom: 1px solid $light-gray; font-size: 11px; padding: 7px; }
        td.last-child { border: none; }
    }
}

/* Sidebar */
.has-right-sidebar {
    #post-body { margin-right: 0; width: 50%; }
    #post-body-content { margin-right: 8px; }
}

.feedburner, .custom-search-main {
    label { padding:0 0 3px; }
}

.feedburner label,
.custom-search-main label { padding:0 0 3px; }

// Inner Sidebar
.inner-sidebar { width: 50% !important;
    #side-sortables { width: 99.7% !important; }
}

#gravatar_size { width: 120px; }

/* Getting Social is Good widget */
#social {
    .inside {
        a { background-color: #666;color: #FFF;display: inline-block;height: 30px;font-size: 1.25rem;line-height: 30px;margin: 10px 20px 0 0;overflow: hidden;padding: 0;text-align: center;text-decoration: none;width: 30px;-webkit-border-radius: 1000px;-moz-border-radius: 1000px;border-radius: 1000px; }
        .rtp-icon-rss:hover { background-color: #FAA33D; }
        .rtp-icon-facebook:hover { background-color: #537BBD; }
        .rtp-icon-twitter:hover { background-color: #40BFF5; }
    }
}

// Latest News
#latest_news .inside {
    ul { margin: 0 0 0 12px;
        li { list-style: disc; padding: 0 0 7px; }
    }
}

/* Meta style */
a.regenerate_thumbanil_notice_close { text-decoration: none; }

.postbox-title-action { position: absolute; right: 35px; top: 0; }

.form-table {

    // Word Wrap
    * { word-wrap: break-word; }

    // Table Heading
    th { width: 170px; }

    td {
        &.img-url,
        &.img-preview {
            .has-right-sidebar & { float: left; }
        }
    }

    // Label
    label { font-size: 13px;
        .example{ font-size: 100%; }

        #post_thumbnail_options & { margin: 0 20px 0 0; }
        #google_search & { line-height: 20px; }
    }

    // Link
    a { text-decoration:none; }
}

// Inputs
input { outline: none; // Self

    // Reset Link
    &.reset-link { background: transparent;; border: 0; color: $link-color;
        &:hover { cursor: pointer; text-decoration: underline; }
    }

    // Checkbox, Radio Button
    &[type=checkbox], &[type=radio] { margin: 1px 5px 1px 1px; }

    // Button Link
    .button-link { background: transparent; border: 0; color: $link-color; cursor: pointer;
        &:hover { color: $link-hover-color; }
    }

    // Disabled
    &[disabled] {
        &[type=text],
        &[type=radio],
        &[type=checkbox] { background-color: Silver; }
    }
}

// Textarea
textarea[disabled] { background-color: Silver; }

// Postbox & Stuffbox
.postbox, stuffbox {
    // Input
    [type=text] { padding: 5px; width: auto;
        .has-right-sidebar & { width:98%; }
    }

    // Textarea
    textarea { color: $text-color; padding: 5px;
        .has-right-sidebar & { width:98%; }
    }
}

// Submit Button
.rtp_submit { padding: 10px 0; text-align: right; }

// Expand & Collapse
.expand-collapse { background: $gray; color: $text-color; float: right; font-size: 85%; padding: 5px 8px; text-decoration: none;
    &:hover { text-decoration: underline; }
}

// Social Share
.rt-social-share { margin: 2px auto; text-align: center; width: 135px;
    .rt-twitter { float: left; margin-right: 5px; }
    .rt-facebook { float: left; margin-left: 5px; position: relative; }
}
.js .metabox-holder .postbox .handlediv:before { content: '\f142';font: 400 20px/1 dashicons;right: 12px;display: inline-block;padding: 8px 0 0 10px;top: 0;position: relative; z-index: 3; }
.js .metabox-holder .postbox.closed .handlediv:before { content: '\f140'; }